#menu

header {
  background-color:cadetblue;
  padding: 30px;
  text-align: center;
  color: white;
}


.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
  
}

marquee{
margin-top: 10;
direction:"left"; 
width:"%70" ;
/* height:"100" ; */
/* background-color:black; */
color: black;font-size: 30px;
padding-bottom: 1%;
padding-top: 1.5%;


}


.border{
border-width:2px;
border-color: black;
}

.kategori{
list-style-type: none;
font-size: 40px;
color:red;
}

.kategori li{
  color: rgb(16, 145, 231);
  font-size: 30px;
} 

.kategori li a:hover {
  color: red;
}



.card-body a{
  font-size: 20px;
}

.card-body a:hover, a:active {
  text-decoration: underline;
}

#logo{

height: 80px;
width:  80px;
z-index: 3;
position: absolute;
left:20px;
top:20px;
padding-bottom: 5px;
}

#logo2{
  height: 60px;
  z-index: 5  ;
  position: absolute;
  right:20px;
  top:20px;
  }

body{
  font-family: Arial, Helvetica, sans-serif
}


.float{
position:fixed;
width:60px;
height:60px;
bottom:40px;
right:40px;
background-color:#25d366;
color:#FFF;
border-radius:50px;
text-align:center;
font-size:30px;
box-shadow: 2px 2px 3px #999;
z-index:100;
}

.my-float{
margin-top:16px;
}

#iletisim{
  align-self: center;
  margin-top: 25px; 
  display:flexbox; 
  align-items: center;
  padding-left: 35%;
}

.hakyazi{
align-items: center; 
padding-left: 20%; 
padding-right: 20%; 
padding-top: 10%; 
padding-bottom: 10%;
}
