/*css dosyası*/

header {
    background-color:cadetblue;
    padding: 30px;
    text-align: center;
    color: white;
  }


.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

marquee{
  margin-top: 10;
  direction:"left"; 
  width:"%70" ;
  /* height:"100" ; */
  background-color:black;
  color: white;font-size: 20px;
  padding-top: 3%;


}


.border{
  border-width:2px;
  border-color: black;
}

.kategori{
  list-style-type: none;
  font-size: 25px;
  color: beige;
  
}

#logo{
  width: 60px;
  height: 60px;
  align-content: flex-end;
  justify-content:center ;
  width: fit-content;
  padding-left: 45%; 

}

