/*css dosyası*/

header {
    background-color:cadetblue;
    padding: 30px;
    text-align: center;
    color: white;
  }


.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.border{
  border-width:2px;
  border-color: black;
}
#menu2{
  background-color:red;
}